@tailwind base;

/* purgecss start ignore */
:root {
  --bg: white;
  --text: black;
  --auxbg: rgb(255, 179, 0);
  --auxtext: #353535;
  --tag: #f05443;
  --cgradient: linear-gradient(138deg, #f51a1a 0%, rgb(144, 104, 255) 89%);
  --card-text: white;
  --repolink: rgba(126, 88, 231, 0.836);
  --gradient: linear-gradient(
    159deg,
    var(--auxbg) 74%,
    rgb(249, 246, 246) 74.1%
  );
}

[data-theme="dark"] {
  --text: white;
  --article-text: whitesmoke;
  --bg: #030a0f;
  --repolink: rgb(93, 152, 170);
  --cgradient: linear-gradient(138deg, rgb(74, 70, 78) 0%, rgb(60, 56, 73) 89%);
  --auxbg: rgb(93, 152, 170);
  --auxtext: #e4e4e4;
  --gradient: linear-gradient(159deg, rgb(49, 57, 62) 74%, var(--auxbg) 74.1%);
}

@variants hover {
  .svg {
    fill: var(--auxbg);
  }
}
/* purgecss end ignore */

@tailwind components;

body {
  @apply font-inter;
}

@tailwind utilities;
