@tailwind base;

/* purgecss start ignore */
:root {
  --bg: white;
  --text: black;
  --auxbg: rgb(255, 179, 0);
  --auxtext: #353535;
  --tag: #f05443;
  --cgradient: linear-gradient(138deg, #f51a1a 0%, rgb(144, 104, 255) 89%);
  --card-text: white;
  --repolink: rgb(54, 54, 54);
  --gradient: linear-gradient(
    159deg,
    var(--auxbg) 74%,
    rgb(249, 246, 246) 74.1%
  );
}

[data-theme="dark"] {
  --text: white;
  --article-text: whitesmoke;
  --bg: #182026;
  --repolink: rgb(93, 152, 170);
  --cgradient: linear-gradient(138deg, rgb(74, 70, 78) 0%, rgb(60, 56, 73) 89%);
  --auxbg: rgb(93, 152, 170);
  --auxtext: #e4e4e4;
  --gradient: linear-gradient(159deg, rgb(49, 57, 62) 74%, var(--auxbg) 74.1%);
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

h1,
h2,
h3 {
  @apply leading-tight font-header;
}

h1 {
  @apply text-3xl font-extrabold;
}

h2 {
  @apply text-2xl font-extrabold;
}

h3 {
  @apply text-xl font-bold;
}

article a,
.fancy-link,
.repo-link {
  @apply relative;
  z-index: 0;
}

article a::after,
.fancy-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 0.5rem;
  background: var(--auxbg);
  transition: height 200ms;
}

.repo-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 0.3rem;
  background: var(--repolink);
  transition: height 200ms;
}

article a:hover::after {
  height: 1.5rem;
}

.fancy-link:hover::after {
  height: 2rem;
}

.repo-link:hover::after {
  height: 2rem;
}

.heart {
  transform: rotate(-45deg);
  @apply w-4 h-4 bg-red-500;
}

.heart::before,
.heart::after {
  content: "";
  @apply absolute w-4 h-4 rounded-full bg-red-500;
}

.heart::before {
  top: -7px;
  left: 0;
}

.heart::after {
  left: 7px;
}

article p {
  @apply pb-4;
}

article p:last-child {
  @apply pb-8;
}

article h2 {
  @apply pb-4 pt-8;
}

article h3 {
  @apply mb-4 mt-8;
}

code {
  @apply text-sm;
}

@variants hover {
  .svg {
    fill: var(--auxbg);
  }
}
/* purgecss end ignore */

@tailwind components;

@tailwind utilities;
