@tailwind base;

/* purgecss start ignore */
:root {
  --bg: white;
  --text: black;
  --auxbg: rgb(255, 179, 0);
  --auxtext: #353535;
  --tag: #f05443;
  --cgradient: linear-gradient(138deg, #f51a1a 0%, rgb(144, 104, 255) 89%);
  --card-text: white;
  --repolink: rgba(126, 88, 231, 0.836);
  --gradient: linear-gradient(
    159deg,
    var(--auxbg) 74%,
    rgb(249, 246, 246) 74.1%
  );
}

[data-theme="dark"] {
  --text: white;
  --article-text: whitesmoke;
  --bg: #182026;
  --repolink: rgb(93, 152, 170);
  --cgradient: linear-gradient(138deg, rgb(74, 70, 78) 0%, rgb(60, 56, 73) 89%);
  --auxbg: rgb(93, 152, 170);
  --auxtext: #e4e4e4;
  --gradient: linear-gradient(159deg, rgb(49, 57, 62) 74%, var(--auxbg) 74.1%);
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

h1,
h2,
h3 {
  @apply leading-tight font-header;
}

h1 {
  @apply text-3xl font-extrabold;
}

h2 {
  @apply text-2xl font-extrabold;
}

h3 {
  @apply text-xl font-bold;
}

article a,
.fancy-link {
  background-image: linear-gradient(
    to bottom,
    transparent 70%,
    var(--auxbg) 70.1%
  );
  background-position: 0 70%;
  background-size: 100% 200%;
  word-break: break-word;
  transition: background-position 100ms;
}

article a:hover,
.fancy-link:hover {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--auxbg) 50.1%
  );
  background-position: 0 100%;
}

.repo-link {
  background-image: linear-gradient(
    to bottom,
    transparent 70%,
    var(--repolink) 70.1%
  );
  background-position: 0 70%;
  background-size: 100% 200%;
  word-break: break-word;
  transition: background-position 100ms;
}

.repo-link:hover {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--repolink) 50.1%
  );
  background-position: 0 100%;
}

.heart {
  transform: rotate(-45deg);
  @apply w-4 h-4 bg-red-500;
}

.heart::before,
.heart::after {
  content: "";
  @apply absolute w-4 h-4 rounded-full bg-red-500;
}

.heart::before {
  top: -7px;
  left: 0;
}

.heart::after {
  left: 7px;
}

article p {
  @apply pb-4;
}

article p:last-child {
  @apply pb-8;
}

article h2 {
  @apply pb-4 pt-8;
}

article h3 {
  @apply mb-4 mt-8;
}

p code {
  background-color: rgb(26, 44, 61);
  color: white;
  @apply p-1 rounded-md;
}

pre {
  @apply -ml-3 rounded-lg p-4 overflow-auto text-sm;
}

code {
  background: none;
}

@variants hover {
  .svg {
    fill: var(--auxbg);
  }
}
/* purgecss end ignore */

@tailwind components;

@tailwind utilities;
